*.tmp
/pcb/*.bak
/pcb/*.kicad_pcb-bak
/pcb/*.net
/pcb/_autosave-solderingPen.kicad_pcb
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x6.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x8.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030xc.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f031x6.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f038xx.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f042x6.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f048xx.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f051x8.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f058xx.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f070xb.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f071xb.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f072xb.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f078xx.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f091xc.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f098xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x6.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x8.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030xc.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f031x6.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f038xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f042x6.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f048xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f051x8.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f058xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f070xb.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f071xb.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f072xb.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f078xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f091xc.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f098xx.h
