*.tmp
/pcb/*.bak
/pcb/*.kicad_pcb-bak
/pcb/*.net
/pcb/_autosave-solderingPen.kicad_pcb
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x6.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x8.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030xc.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f031x6.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f038xx.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f042x6.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f048xx.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f051x8.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f058xx.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f070xb.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f071xb.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f072xb.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f078xx.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f091xc.h
/soft/test_ADC/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f098xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x6.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x8.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030xc.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f031x6.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f038xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f042x6.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f048xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f051x8.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f058xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f070xb.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f071xb.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f072xb.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f078xx.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f091xc.h
/soft/test_mag/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f098xx.h
/doc/.ipynb_checkpoints
/measurements/.ipynb_checkpoints
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x6.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030x8.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f030xc.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f031x6.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f038xx.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f042x6.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f048xx.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f051x8.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f058xx.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f070xb.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f071xb.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f072xb.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f078xx.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f091xc.h
/soft/solderingPen/Drivers/CMSIS/Device/ST/STM32F0xx/Include/stm32f098xx.h
/AN4657-STM32Cube_IAP_using_UART
/soft/test_bootloader_F072
/soft/bootloader_test_F072.ioc
/pc/bootloader/__pycache__
/pc/bootloader/build
/pc/bootloader/test.py
*.log
/doc/img/*.net
*.raw
/soft/solderingPenBootloader/Debug
/*.bak
/soft/solderingPenBootloader/Release
